/********* Artesanos ************/

.carousel-inner img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.artesano-container {
  margin-top: 5rem;
}

.artesano-description {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}


/* .darkmode .artesano-description{
  background-color: var(--dark-color);
}

.darkmode {
  artesano-description h2 {
    color: var(--light-color);
  }
  }
.darkmode {
  artesano-description p {
    color: #ffffff;
  }
  } */



