/* Titulo quienes somos*/
.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}

/* Titulo nuestra familia*/
.heading_container h3 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Titulo conoce*/
.heading_container h4 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Guión bajo en quienes somos*/
.heading_container h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Guión bajo en nuestra familia*/
.heading_container h3::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background: #ff0646;
  margin: 10px auto;
}

/*Color rosa resaltado en Somos*/
.heading_container h2 span {
  color: #ff0646;
}

/*Color rosa resaltado en Nuestra familia*/
.heading_container h3 span {
  color: #ff0646;
}

/*Centrar Quienes Somos*/
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

/*Centrar Nuestra familia*/
.heading_container.heading_center {
  align-items: justify;
  text-align: center;
}


/*============= SLIDER DE IMAGENES QUIENES SOMOS =======*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bgColor: rgb(52, 52, 51);
  }
  
  #slider {
    position: relative;
    width: 40%;
    height: 45vw;
    margin: auto;
    transform-style: preserve-3d;
    font-family: "Montserrat", sans-serif;
    perspective: 1400px;
  }

  .slide-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    transform: translateX(-83px);
    cursor: pointer;
    opacity: 0.4;
  }
  
  
  input[type="radio"]:nth-child(6) {
    margin-right: 0px;
  }
  
  input[type="radio"]:checked {
    opacity: 1;
  }


/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  input[type="radio"] {
    width: 9px; 
    height: 9px; 
  }
}
  
  #slider label,
  #slider label img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 400ms ease;
  }
  
  /* Active Slide */
  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5,
  #s6:checked ~ #slide6 {
    transform: translate3d(0%, 0, 0px);
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide6,
  #s6:checked ~ #slide1 {
    transform: translate3d(20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide6,
  #s5:checked ~ #slide1,
  #s6:checked ~ #slide2 {
    transform: translate3d(-20%, 0, -100px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Next to Next Slide */
  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide6,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2,
  #s6:checked ~ #slide3 {
    transform: translate3d(40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide5,
  #s2:checked ~ #slide6,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3,
  #s6:checked ~ #slide4 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

  /* Previous to Previous Slide */
  #s1:checked ~ #slide6,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4,
  #s6:checked ~ #slide5 {
    transform: translate3d(-40%, 0, -250px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }

/* Estilos para ocultar los botones de radio en todos los tamaños de pantalla */
input[type="radio"] {
  display: none;
}
  
/* Simplify slider styles */
/* .slider_section {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
  line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #ff0646;
}

.slider_section .detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #ff0646;
  border: 1px solid #ff0646;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
} */

 .darkmode {
  color: #fff;
}

/***** iconos redes y cv ****/
.linkedin-icon:hover i,
.github-icon:hover i,
.cv-icon:hover i {
  color: #ff0646;
  transform: scale(1.2); 
}


/* Estilos para los iconos en pantalla normal (escritorio o laptop) */
.responsive-icon {
  font-size: 30px;
}

/* Estilos para los iconos en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .responsive-icon {
    font-size: 1em; 
  }
}

/* Estilos para el contenedor del video */
#videoContainer {
  margin-top: 20px; 
}

/* Estilos para ajustar el tamaño del video en pantallas grandes */
@media (min-width: 992px) {
  #videoContainer iframe {
    width: 800px; 
    height: 450px; 
  }
}