
   
/*Carrusel*/

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}


/*product*/
.heading_container.heading_center h2 {
  position: relative;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Montserrat', serif;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.product_section .box {
  position: relative;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
}

.product_section .box .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product_section .box .options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_section .box .options a {
  margin: 5px 0;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .options .option1 {
  background-color: #ffffff;
  border: 1px solid #ff0646;
  color: #000000;
}

.product_section .box .options .option1:hover {
  background-color: #FF0646;
  color: #ffffff;
}

.product_section .box .options .option2 {
  background-color: #ffffff;
  border: 1px solid #ff0646;
  color: #000000;
}

.product_section .box .options .option2:hover {
  background-color: #FF0646;
  color: #ffffff;
}

.product_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 210px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .box .detail-box {
  text-align: center;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #ffffff;
}

.box {
  transition: transform 0.5s;
  position: relative;
  cursor: pointer;
}

.box.rotate {
  transform: rotateY(360deg);
}

